body{
    transition: all 0.5s;
}
.dark{
    background-color: black; 
    color: white;
}
.light{
    background-color: white;
    color: black;
}
.head {
    text-align: center;
}
.bulb{
    margin: 25px;
    font-size: 25px;
    transition: all 0.5s;
    text-align: center;
}
.fa-regular {
    cursor: pointer;
    color: yellow;
}
.fa-solid{
    cursor: pointer;
    color: black;
}
.bulb h3{
    font-size: 25px;
    font-weight: 500;
}
.control{
    text-align: center;
    justify-content: center;
}
.control label{
    font-size: 25px;
    margin: 10px;
}
button{
    width: 160px;
    height: 40px;
    display: block;
    font-size: 20px;
    margin: 15px auto;
    border-radius: 25px;
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.content {
    text-align: center;
    width: 23%;
    margin: 5px auto;
}
.Footer{
    text-align: center;
}
.Footer a{
    text-decoration: none;
}

@media (max-width: 1024px){
    .content {
        width: 30%;
    }
}
@media (max-width: 768px){
    .content {
        width: 45%;
    }
}
@media (max-width: 425px){
    .control label{
        font-size: 25px;
        margin: 0px;
    }
    .content {
        width: 100%;
    }
}