body{
    transition: all 0.5s;
}

.dark{
    background-color: black; 
    color: white;
}
.light{
    background-color: white;
    color: black;
}

.head {
    text-align: center;
}

.control {
    text-align: center;
}
.bulb{
    margin: 25px;
    font-size: 25px;
    transition: all 0.5s;
    text-align: center;
}

.fa-regular {
    cursor: pointer;
    color: yellow;
}
.fa-solid{
    cursor: pointer;
    color: black;
}

.main {
    display: flex;
    flex-wrap: wrap;
}
.content {
    text-align: center;
    width: 25%;
    margin: auto;
}
.Footer{
    text-align: center;
}
.Footer a{
    text-decoration: none;
}

@media (max-width: 1024px){
    .content {
        width: 33%;
    }
}
@media (max-width: 768px){
    .content {
        width: 45%;
    }
}
@media (max-width: 425px){
    .content {
        width: 100%;
    }
}